<div class="col-sm-4 column-30 left-2 top-1 panel panel-default ">
    <div class="modal-header">
        <h4 class="modal-title">DriveBys finden</h4>
    </div>
    <div class="modal-body">
        <form class="top-25 bottom-25 form-horizontal news-finden" name="drivebyFinden" novalidate>

            <div class="form-group">
                <label class="col-sm-2">Status</label>
                <div class="col-sm-3">
                    <label class="status">
                        <input type="checkbox" ng-model="status.Abgeschlossen" ng-change="getCount()">
                        Abgeschlossen
                    </label>
                    <label class="status">
                        <input type="checkbox" ng-model="status.Neu" ng-change="getCount()">
                        Neu
                    </label>
                </div>
                <div class="col-sm-3">
                    <label class="status">
                        <input type="checkbox" ng-model="status.Abgelehnt" ng-change="getCount()">
                        Abgelehnt
                    </label>

                    <label class="status">
                        <input type="checkbox" ng-model="status.Unvollstandig" ng-change="getCount()">
                        Unvollständig
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="status">
                        <input type="checkbox" ng-model="status.Unbekannt" ng-change="getCount()">
                        Unbekannt
                    </label>
                    <!--<input type="text" name="lokalisierungsHierarchie" required placeholder="Deutschland" ng-model="sendData.lokalisierungsHierarchie" ng-change="getCount()" class="form-control">-->
                   <!-- <div class="error" ng-show="drivebyFinden.lokalisierungsHierarchie.$dirty">
                        {{showError(drivebyFinden.lokalisierungsHierarchie.$error)}}
                    </div>-->
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2">Benutzer</label>

                <div class="col-sm-3">
                    <span class="status">Name</span>
                    <span class="status">Emailadresse</span>
                    <span class="status">Telefonnummer</span>
                </div>

                <div class="col-sm-6">
                    <input type="text" name="mame" required ng-model="sendData.mame" ng-change="getCount()" class="form-control status">
                   <!-- <div class="error" ng-show="drivebyFinden.mame.$dirty">
                        {{showError(drivebyFinden.mame.$error)}}
                    </div>-->
                    <input type="text" name="userName" required ng-model="sendData.user.userName" ng-change="getCount()" class="form-control status">
                   <!-- <div class="error" ng-show="drivebyFinden.userName.$dirty">
                        {{showError(drivebyFinden.userName.$error)}}
                    </div>-->
                    <input type="text" name="telefonnummer" required ng-model="sendData.telefonnummer" ng-change="getCount()" class="form-control status">
                   <!-- <div class="error" ng-show="drivebyFinden.telefonnummer.$dirty">
                        {{showError(drivebyFinden.telefonnummer.$error)}}
                    </div>-->
                </div>

                <div class="col-sm-1">
                    <span class="status">oder</span>
                    <span class="status">oder</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2">Erstellt</label>
                <div class="col-sm-5">
                    <p class="input-group">
                        <input type="text" uib-datepicker-popup="{{settings.format}}" ng-change="getCount()" class="form-control"  ng-model="sendData.createDateFrom" is-open="settings.status.openedFrom" max-date="settings.maxDate" datepicker-options="settings.dateOptions"  ng-required="false" close-text="Schließen" current-text="Heute" clear-text="Löschen"/>
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="settings.openFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                    </p>
                   <!-- <div class="error" ng-show="drivebyFinden.createDateFrom.$dirty">
                        {{showError(drivebyFinden.createDateFrom.$error)}}
                    </div>-->
                </div>

                <label class="col-sm-1 control-label">Bis</label>
                <div class="col-sm-5">
                    <p class="input-group">
                        <input type="text" uib-datepicker-popup="{{settings.format}}" ng-change="getCount()" class="form-control" ng-model="sendData.createDateUntil" is-open="settings.status.openedUntil" max-date="settings.maxDate" datepicker-options="settings.dateOptions" ng-required="false"  close-text="Schließen" current-text="Heute" clear-text="Löschen" />
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="settings.openUntil($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                    </p>
                   <!-- <div class="error" ng-show="drivebyFinden.createDateUntil.$dirty">
                        {{showError(drivebyFinden.createDateUntil.$error)}}
                    </div>-->
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2">Gebiet</label>
                <div class="col-sm-10">
                    <input type="text" name="city" required ng-model="sendData.city" ng-change="getCount()" class="form-control">
                   <!-- <div class="error" ng-show="drivebyFinden.city.$dirty">
                        {{showError(drivebyFinden.city.$error)}}
                    </div>-->
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer text-center">
        <span>{{count}} DriveBys</span>
        <!--ng-disabled="drivebyFinden.$invalid"-->
        <button class="btn btn-primary center-block" ng-click="sucheDriveBy()">Anzeigen</button>
    </div>
</div>

