<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-class="{'navbar-with-back': showBackButton}">
   <div class="navbar-header">
	   <div class="navbar-brand">
		   <img src="img/logo.svg" data-png="img/logo.png" height="40" />
	   </div>

	   <div class="btn-green btn-navbar btn-back navbar-news" ng-click="showTabs('news')">
		   <span class="fa">News</span>
	   </div>

	   <div class="btn-green btn-navbar btn-back navbar-drive-by-daten" ng-click="showTabs('driveBy')">
		   <span class="fa">DriveBy-Daten</span>
	   </div>
   </div>
</nav>

