<div>
    <div class="modal-complaint complaint-text" id="u477_state7_content">
        <h2>Aufnahme reklamieren</h2>

        <div class="ax_checkbox" id="u618" style="">
            <ul>
                <li>
                    <input type="checkbox" value="checkbox" id="u618_input">
                    <label for="u618_input">
                        <span>Datei beschädigt</span>
                    </label>
                </li>
                <li>

                    <input type="checkbox" checked="" value="checkbox" id="u620_input">
                    <label for="u620_input">
                        <span>Bild verwackelt</span>
                    </label>
                </li>
                <li>

                    <input type="checkbox" checked="" value="checkbox" id="u622_input">
                    <label for="u622_input">
                        <span>Bild unscharf</span>

                    </label>
                </li>
                <li>

                    <input type="checkbox" value="checkbox" id="u624_input">
                    <label for="u624_input">
                        <span>Falsches Motiv</span>
                    </label>
                </li>
            </ul>
            <ul>
                <li>
                    <input type="checkbox" value="checkbox" id="u626_input">
                    <label for="u626_input">
                        <span>Zu geringe Auflösung</span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" value="checkbox" id="u628_input">
                    <label for="u628_input">
                        <span>Weitere Gründe</span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" value="checkbox" id="u630_input">
                    <label for="u630_input">
                        <span>Weshalb das Bild</span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" value="checkbox" id="u632_input">
                    <label for="u632_input">
                        <span>Nicht passen könnte</span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="img-content">
            <div class="ax_text_area">
              <textarea ng-model="complaintTextBestehende">
              </textarea>
            </div>
        </div>
    </div>
</div>