<div>
    <div class="modal-complaint daten" id="u477_state7_content">
        <h2>Details reklamieren</h2>

        <div class="ax_checkbox" id="u618" style="">
            <table class="table table-bordered">
                <tr>
                    <td>
                        Zustand
                    </td>
                    <td>
                        {{zustandFront[sendData.projectType]}}
                    </td>
                    <td>
                        <input type="checkbox" value="checkbox" ng-model="uploadingObject.datenzustand" ng-change="datenCheck(complaintText)" data-send="Zustand: {{zustandFront[sendData.projectType]}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Objekttyp
                    </td>
                    <td>
                        {{objekttypFront[sendData.objectType]}}
                    </td>
                    <td>
                        <input type="checkbox" value="checkbox" ng-model="uploadingObject.datenobjekttyp" ng-change="datenCheck(complaintText)" data-send="Objekttyp: {{objekttypFront[sendData.objectType]}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Denkmalschutz
                    </td>
                    <td>
                        {{denkmalschutzFront[sendData.protectedBuilding]}}
                    </td>
                    <td>
                        <input type="checkbox" value="checkbox" ng-model="uploadingObject.datendenkmalschutz" ng-change="datenCheck(complaintText)" data-send="Denkmalschutz: {{denkmalschutzFront[sendData.protectedBuilding]}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Bautenstand
                    </td>
                    <td>
                        {{bautenstandFront[sendData.buildingProgress]}}
                    </td>
                    <td>
                        <input type="checkbox" value="checkbox" ng-model="uploadingObject.datenbautenstand" ng-change="datenCheck(complaintText)" data-send="Bautenstand: {{bautenstandFront[sendData.buildingProgress]}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Objektstandard nach Fertigstelllung
                    </td>
                    <td>
                        {{objektStandardTypeFront[sendData.objectStandard]}}
                    </td>
                    <td>
                        <input type="checkbox" value="checkbox" ng-model="uploadingObject.datenobjektStandard" ng-change="datenCheck(complaintText)" data-send="Objektstandard nach Fertigstelllung: {{objektStandardTypeFront[sendData.objectStandard]}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        umgebende Bebauung
                    </td>
                    <td>
                        {{umgebendeFront[sendData.objectStandardEnv]}}
                    </td>
                    <td>
                        <input type="checkbox" value="checkbox" ng-model="uploadingObject.datenumgebende" ng-change="datenCheck(complaintText)" data-send="umgebende Bebauung: {{umgebendeFront[sendData.objectStandardEnv]}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Leerstand
                    </td>
                    <td>
                        {{leerstandFront[sendData.vacancyEnv]}}
                    </td>
                    <td>
                        <input type="checkbox" value="checkbox" ng-model="uploadingObject.datenleerstand" ng-change="datenCheck(complaintText)" data-send="Leerstand: {{leerstandFront[sendData.vacancyEnv]}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Verkehrsanbindung ÖPNV
                    </td>
                    <td>
                        {{verkehrsanbindungFront[sendData.publicTransport]}}
                    </td>
                    <td>
                        <input type="checkbox" value="checkbox" ng-model="uploadingObject.datenverkehrsanbindung" ng-change="datenCheck(complaintText)" data-send="Verkehrsanbindung ÖPNV: {{verkehrsanbindungFront[sendData.publicTransport]}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Nähe zu Versorgungseinrichtung
                    </td>
                    <td>
                        {{versorgungseinrichtungFront[sendData.nearbySupply]}}
                    </td>
                    <td>
                        <input type="checkbox" value="checkbox" ng-model="uploadingObject.datenversorgungseinrichtung" ng-change="datenCheck(complaintText)" data-send="Nähe zu Versorgungseinrichtung: {{versorgungseinrichtungFront[sendData.nearbySupply]}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Nähe zu Erholungsmöglichkeiten
                    </td>
                    <td>
                        {{erholungsmoglichkeitenFront[sendData.nearbyRecreation]}}
                    </td>
                    <td>
                        <input type="checkbox" value="checkbox" ng-model="uploadingObject.datenerholungsmoglichkeiten" ng-change="datenCheck(complaintText)" data-send="Nähe zu Erholungsmöglichkeiten: {{erholungsmoglichkeitenFront[sendData.nearbyRecreation]}}">
                    </td>
                </tr>
            </table>


        </div>
        <div class="img-content">
            <div class="ax_text_area">
              <textarea ng-model="complaintText" ng-change="datenCheck(complaintText)">
              </textarea>
            </div>
        </div>

        <div class="email" id="u639" style="">
            <span>Senden an:</span>
            <input type="email" value="{{sendData.userName}}">
        </div>

        <div class="buttons">
            <button class="btn btn-primary" ng-click="save(complaintText)" ng-disabled="datenDisabled">Senden vermerken</button>
            <button class="btn btn-default" ng-click="cancel()">Abbrechen</button>
        </div>
    </div>
</div>