<div>
    <div class="modal-complaint" id="u477_state7_content">
        <h2>Aufnahme reklamieren</h2>
        <span class="checkbox-title">Begründung:</span>
        <div class="ax_checkbox" id="u618" style="">
            <ul>
                <li>
                    <input type="checkbox" value="checkbox" ng-model="uploadingObject.datei" ng-change="check(complaintText)" id="u618_input">
                    <label for="u618_input">
                        <span>Datei beschädigt</span>
                    </label>
                </li>
                <li>

                    <input type="checkbox" value="checkbox" ng-model="uploadingObject.verwackelt" ng-change="check(complaintText)" id="u620_input">
                    <label for="u620_input">
                        <span>Bild verwackelt</span>
                    </label>
                </li>
                <li>

                    <input type="checkbox" value="checkbox" ng-model="uploadingObject.unscharf" ng-change="check(complaintText)" id="u622_input">
                    <label for="u622_input">
                        <span>Bild unscharf</span>

                    </label>
                </li>
                <li>

                    <input type="checkbox" value="checkbox" ng-model="uploadingObject.falsches" ng-change="check(complaintText)" id="u624_input">
                    <label for="u624_input">
                        <span>Falsches Motiv</span>
                    </label>
                </li>
                </ul>
            <ul>
                <li>
                    <input type="checkbox" value="checkbox" ng-model="uploadingObject.geringe" ng-change="check(complaintText)" id="u626_input">
                    <label for="u626_input">
                        <span>Zu geringe Auflösung</span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" value="checkbox" ng-model="uploadingObject.weitere" ng-change="check(complaintText)" id="u628_input">
                    <label for="u628_input">
                        <span>Weitere Gründe</span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="img-content">
            <div class="ax_img">
                <img ng-src="{{currentImg}}" alt="">
            </div>

            <div class="ax_text_area">
              <textarea ng-model="complaintText" ng-change="check(complaintText)">
              </textarea>
            </div>
        </div>

        <div class="email" id="u639" style="">
            <span>Senden an:</span>
            <input type="email" value="{{sendData.userName}}">
        </div>

        <div class="buttons">
            <button class="btn btn-primary" ng-click="save(complaintText)" ng-disabled="disabled">Senden vermerken</button>
            <button class="btn btn-default" ng-click="cancel()">Abbrechen</button>
        </div>
    </div>
</div>